frontend/node_modules
frontend/dist
frontend/*.local
frontend/*.tsbuildinfo
frontend/.*.cjs
frontend/flow
backend/.venv
backend/output
backend/dist
backend/build
backend/__pycache__
backend/pywebview.log
